<html>

<head>
  <meta charset="utf-8">
  <link rel="icon" href="/quidest/file.png" type="image/x-icon" />
  {{ if .Param "math" }}
  {{ partialCached "math.html" . }}
  {{ end }}
  <title>{{.Title | title}}</title>
  {{ with .Params.Description }}
  <meta name="description" content="{{.}}"> {{end}}
  {{ with .Params.Author }}
  <meta name="author" content="{{.}}"> {{end}}
  {{ block "head" . }}
  {{ end }}
</head>

<body>
  {{ block "main" . }}
  {{end}}
  {{ block "footer" .}}
  <a href={{ .Site.BaseURL }}>homepage</a>
  {{end}}

  <h4>Contacts</h4>
  <a href="mailto:drumondlorenzo@gmail.com?subject=info">Lorenzo Drumond</a>
</body>

</html>